<font size=5><b>**Тестовое задание**</b></font>
    
<font size=4><b>**Задача 1. SQL**</b></font>

# Задание

Исходные данные  
СУБД: MS SQL. 
Название БД: qwerty.  
Пользовать: user  
Пароль: password  
IP-адрес сервера: 85.114.8.250.

В базе данных находятся следующие таблицы:

|Название таблицы|Имена столбцов|
|---             |---           |
|Date            |Date_id       |
|    | Date_time (время в формате “%Y.%M.%D”)
|Hour| Hour_id
||Hour (номер часа от 0 до 23)
|Stations|Station_name
||Gen_unit_id
||Gen_unit_name
|Generation|Date_id
||Hour_id
||Gen_unit_id
||Generation_hour (выработка электроэнергии за час)

**Задание**

Требуется написать и отправить код, в котором будет выполнено:
    1. Подключение к базе данных.
    2. Запрос SQL для загрузки данных за январь 2021 г (необходимо отфильтровать данные, а также сгруппировать выработку, чтобы получить среднюю и суммарную посуточно).
    3. Обработка данных.

# Подключение к базе данных

In [1]:
from sqlalchemy import create_engine

In [166]:
engine = create_engine("mssql+pymssql://user:password@85.114.8.250/qwerty")

In [ ]:
connection = engine.connect()

# Запрос SQL

In [3]:
def select(sql):
    return pd.read_sql(sql, connection)

In [ ]:
select(
    """
SELECT 
    YEAR (d.date_time) AS year,
    MONTH (d.date_time) AS month,
    DAY (d.date_time) AS day,
    s.station_name, 
    s.gen_unit_name,
    sum(g.generation_hour) AS daily_generation_hour_sum,
    avg(g.generation_hour) AS daily_generation_hour_avg
FROM generation g
JOIN date d ON d.date_id = g.date_id
JOIN stations s ON s.gen_unit_id = g.gen_unit_id
JOIN hour h ON s.hour_id = g.hour_id
WHERE DATE(DATETRUNC(month, d.date_time)) = '2021-01-01'
GROUP BY by s.station_name, DATE(d.date_time)
"""
)

# Проверка кода

Проверим код при помощи sqlite3, для чего создадим базу данных.

In [1]:
import sqlite3
import numpy as np
import pandas as pd

%load_ext lab_black

In [2]:
con = sqlite3.connect("db")


def select(sql):
    return pd.read_sql(sql, con)

In [3]:
date_id = np.linspace(18000, 19100, 101)
date_time = pd.to_datetime(date_id, unit="D")
date = pd.DataFrame({"date_id": date_id, "date_time": date_time})
date.to_sql("date", con, index=False, if_exists="replace")

hour_id = np.linspace(100, 123, 24)
hour = np.linspace(0, 23, 24, dtype=int)
hour_df = pd.DataFrame({"hour_id": hour_id, "hour": hour})
hour_df.to_sql("hour", con, index=False, if_exists="replace")

station_name = [f"Сургутская ГРЭС-{x}" for x in range(1, 10)]
gen_unit_name = [f"Блок-{x}" for x in range(1, 5)]
k = len(station_name) * len(gen_unit_name)
gen_unit_id = np.linspace(500, 500 + k, k + 1)
stations = pd.DataFrame(
    columns=["station_name", "gen_unit_id", "gen_unit_name"], index=range(k + 1)
)
for i in range(len(station_name)):
    for j in range(len(gen_unit_name)):
        n = j + i * len(gen_unit_name)
        stations.loc[n]["station_name"] = station_name[i]
        stations.loc[n]["gen_unit_id"] = gen_unit_id[n]
        stations.loc[n]["gen_unit_name"] = gen_unit_name[j]
stations.to_sql("stations", con, index=False, if_exists="replace")

generation = pd.DataFrame(
    columns=["date_id", "hour_id", "gen_unit_id", "generation_hour"],
    index=range(len(date_id) * len(hour_id) * len(gen_unit_id)),
)

for i in range(len(date_id)):
    for j in range(len(hour_id)):
        for k in range(len(gen_unit_id)):
            n = k + j * len(gen_unit_id) + i * len(hour_id) * len(gen_unit_id)
            generation.loc[n]["date_id"] = date_id[i]
            generation.loc[n]["hour_id"] = hour_id[j]
            generation.loc[n]["gen_unit_id"] = gen_unit_id[k]
            generation.loc[n]["generation_hour"] = np.random.normal(1000, 200)
generation.to_sql("generation", con, index=False, if_exists="replace")

89688

In [4]:
select(
    """
select 
    date(datetime(d.date_time, 'start of day')) as date,
    s.station_name, 
    s.gen_unit_name,
    sum(g.generation_hour) as daily_generation_hour_sum,
    avg(g.generation_hour) as daily_generation_hour_avg
from generation g
join date d using(date_id)
join stations s using(gen_unit_id)
join hour h using(hour_id)
where date(datetime(d.date_time, 'start of month')) = '2021-01-01'
group by s.station_name, s.gen_unit_name, date
"""
)

,date,station_name,gen_unit_name,daily_generation_hour_sum,daily_generation_hour_avg
0,2021-01-11,Сургутская ГРЭС-1,Блок-1,24841.978094,1035.082421
1,2021-01-22,Сургутская ГРЭС-1,Блок-1,23126.897208,963.620717
2,2021-01-11,Сургутская ГРЭС-1,Блок-2,23434.475243,976.436468
3,2021-01-22,Сургутская ГРЭС-1,Блок-2,23814.806157,992.283590
4,2021-01-11,Сургутская ГРЭС-1,Блок-3,24582.546558,1024.272773
...,...,...,...,...,...
67,2021-01-22,Сургутская ГРЭС-9,Блок-2,23793.218334,991.384097
68,2021-01-11,Сургутская ГРЭС-9,Блок-3,25020.217224,1042.509051
69,2021-01-22,Сургутская ГРЭС-9,Блок-3,24627.074509,1026.128105
70,2021-01-11,Сургутская ГРЭС-9,Блок-4,24549.440265,1022.893344
71,2021-01-22,Сургутская ГРЭС-9,Блок-4,24807.198827,1033.633284

Код отработал с точностью до различия синтаксиса sqlite и transact.